.footer {
    background-color: #424242;
    &__copyright {
        padding: 60px;
        display: flex;
        justify-content: center;
        color: #b8b8b8;
        font-weight: 300;
    }
    &__author {
        color: #b8b8b8;
        text-decoration: none;
    }
    &__icon {
        margin-right: 3px;
    }
    &__year {
        margin-right: 7px;
    }
    &__designed {
        margin-right: 5px;
    }
    &__heart {
        margin-left: 7px;
    }
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
